.projects-title{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 3rem;
}

.projects {
    min-height: 100vh;
}

a.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .projects{
        min-height: 80vh;
    }
}

@media (max-width: 900px) {
    .projects{
        min-height: 60vh;
    }
}